<h1>Kontakt</h1>

<div class="section">
  <h2>Prof. dr hab. Hazem M. Kalaji, dr h.c.</h2>

  <div class="highlight">
    <p><strong>Nale&zdot;a&lstrok; do 1% najlepszych naukowc&oacute;w &sacute;wiata</strong> w latach 2019, 2020 i 2021</p>
    <p><strong>Nale&zdot;a&lstrok; do 2% najlepszych naukowc&oacute;w &sacute;wiata</strong> w latach 2022 i 2023</p>
  </div>

  <h2>Profile naukowe</h2>
  <ul>
    <li>Identyfikator PBN: 922205</li>
    <li>ResearcherID (Web of Science): <a href="http://www.researcherid.com/rid/E-8086-2012" target="_blank">E-8086-2012</a></li>
    <li>ORCID: <a href="http://orcid.org/0000-0002-3833-4917" target="_blank">0000-0002-3833-4917</a></li>
    <li>Scopus Author ID: 6504454079</li>
    <li>Profil Loop: 82058</li>
  </ul>

  <h2>Dane kontaktowe</h2>
  <ul>
    <li>Tel.: +48 664 943 484</li>
    <li>E-mail: <a href="mailto:hazem@kalaji.pl">hazem@kalaji.pl</a></li>
    <li>Strona internetowa: <a href="https://www.kalaji.pl/" target="_blank">www.kalaji.pl</a></li>
  </ul>
</div>

<div class="footer">
  <p>PlantECG - Zaawansowany system monitorowania fizjologii ro&sacute;lin</p>
</div>
