<h1>お問い合わせ</h1>

<div class="section">
  <h2>ハゼム・M・カラジ 教授</h2>
  <p>理学博士、教授資格（Dr. habil.）、名誉博士（Dr. h.c.）</p>

  <div class="highlight">
    <p><strong>2019年、2020年、2021年</strong>　世界の上位1％研究者</p>
    <p><strong>2022年、2023年</strong>　世界の上位2％研究者</p>
  </div>

  <ul>
    <li>ワルシャワ生命科学大学（SGGW）、ポーランド・ワルシャワ</li>
    <li>国立研究機関 農業・生命科学技術研究所（ITP）、ポーランド・ファレンティ</li>
    <li>欧州委員会 専門家・コンサルタント（文書番号：DGC518344）、ベルギー</li>
    <li>ポーランド科学アカデミー 農学委員会 委員</li>
    <li>英国 Controlled Environment Users' Group 会員</li>
    <li>Journal of Water and Land Development 誌 編集長（ITP・ポーランド科学アカデミー）</li>
  </ul>

  <h2>学術プロフィール</h2>
  <ul>
    <li>ポーランド学術書誌（PBN）ID：922205</li>
    <li>Web of Science Researcher ID：<a href="http://www.researcherid.com/rid/E-8086-2012" target="_blank">E-8086-2012</a></li>
    <li>ORCID：<a href="http://orcid.org/0000-0002-3833-4917" target="_blank">0000-0002-3833-4917</a></li>
    <li>Scopus Author ID：6504454079</li>
    <li>Loop プロフィール：82058</li>
  </ul>

  <h2>連絡先</h2>
  <ul>
    <li>電話：+48 664 943 484</li>
    <li>メール：<a href="mailto:hazem@kalaji.pl">hazem@kalaji.pl</a></li>
    <li>ウェブサイト：<a href="https://www.kalaji.pl/" target="_blank">www.kalaji.pl</a></li>
    <li>SGGW プロフィール：<a href="https://bw.sggw.edu.pl/info/author/WULS804512b633a5469e854501498608307d/" target="_blank">bw.sggw.edu.pl</a></li>
  </ul>
</div>

<div class="footer">
  <p>PlantECG - 先進的な植物生理モニタリングシステム</p>
</div>
